section.preview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.4rem;
}

div.item-preview{
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  border-radius: 0.5rem;
}

@media screen and (max-width: 480px) {
  section.preview {
    grid-template-columns: 1fr 1fr;
  }
  div.item-preview {
    padding: 1.5rem 0;
  }
  div.maior {
    grid-column: -3 / -1;
  }
}