section.inputs {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem 0;
}

div.campo_input {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.inputs form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

section.inputs label {
  font-size: clamp(0.8rem, 3vw, 1rem);
}

label.inputs-maiores{
  margin-right: 0.4rem;
}

section.inputs input {
  height: 1.8rem;
  padding: 0.4rem;
  width: 98%;
  max-width: 180px;
}

section.inputs input[type="number"]{
  max-width: 120px;
}

section.inputs input[type="radio"]{
  accent-color: #11e;
  margin: 0 0.5rem;
}

section.inputs input.red{
  accent-color: #e33;
  margin: 0 0.5rem;
}

section.inputs button {
  border: none;
  border-radius: 1rem;
  color: #3b5274;
  border: 1px solid #3b5274;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  font-size: clamp(0.8rem, 2vw, 1.05rem);
  transition: all 0.4s;
}

section.inputs button:hover {
  background-color: #3b5274;
  color: #fff;
}

@media screen and (max-width: 780px){
  section.inputs {
    display: flex;
    justify-content: center;
  }
  section.inputs form {
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
  }
}