/* CONFIGURAÇÕES GERAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

div.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 0 5px;
}

article {
  width: 100%;
  max-width: 1080px;
  margin: 1% auto;
}
/* CONFIGURAÇÃO DO CABEÇALHO */
header {
  background-color: #3b5274;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

header h1 {
  font-size: clamp(1.4rem, 8vw, 2.5rem);
}
/* CONFIGURAÇÃO DO  PREVIEW*/


/* CONFIGURAÇÕES DOS INPUTS */


/* CONFIGURAÇÃO DA TABELA */


main {
  background-color: #e9e9e9;
}


footer {
  background-color: #3b5274;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

footer p {
  font-size: clamp(0.8rem, 3vw, 1.08rem);
}

@media screen and (max-width: 750px){
  article {
    margin: 10px 0;
  }
  article.inputs {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  form {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  label.inputs-maiores{
    display: inline-block;
    width: 75px;
    margin: 0;
  }
  table td, th {
    text-align: right;
    padding: 0.6rem  1rem;
    border: none;
    border-bottom: 1px solid rgb(136, 136, 136);
  }
  td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table tr {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(71, 71, 71);
    margin-bottom: 1rem;
    box-shadow: -2px 2px 4px 1px rgba(0, 0, 0, 0.267);
    border-radius: 0.4rem;
  }
  thead {
    display: none;
  }
}