/* CONFIGURAÇÕES GERAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 0 5px;
}

article {
  width: 100%;
  max-width: 1080px;
  margin: 1% auto;
}
/* CONFIGURAÇÃO DO CABEÇALHO */
header {
  background-color: #3b5274;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

header h1 {
  font-size: clamp(1.7rem, 4vw, 2.5rem);
}
/* CONFIGURAÇÃO DO  PREVIEW*/
.preview {
  display: flex;
  justify-content: center;
  gap: 1.5%;
}

.preview p {
  font-size: clamp(0.85rem, 2vw, 1rem);
}

div.item-preview{
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4%;
  border-radius: 10px;
}

.preview h2 {
  font-size: clamp(1.2rem, 4vw, 1.7rem);
}

/* CONFIGURAÇÕES DOS INPUTS */
article.inputs {
  background-color: #fff;
  border-radius: 10px;
  padding: 2% 1%;
}

div.campo_input {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

label {
  font-size: clamp(0.85rem, 2vw, 1.1rem);
}

label.inputs-maiores{
  margin-right: 6px;
}

input {
  height: 1.3rem;
  padding: 1px 5px;
}

input[type="number"]{
  width: 110px;
}

input[type="radio"]{
  margin: 0 6px;
}

button {
  border: none;
  border-radius: 15px;
  background-color: #3b5274;
  color: #fff;
  padding: 8px 15px;
  font-size: clamp(0.80rem, 1vw, 1.05rem);
}

/* CONFIGURAÇÃO DA TABELA */
article.tabela {
  background-color: #fff;
  border-radius: 10px;
  padding: 2% 1%;
}

table {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: #3b5274;
  color: #fff;
}

td, th {
  border: 1px solid black;
  font-size: clamp(0.85rem, 2vw, 1.1rem);
  padding: 1% 0;
}

main {
  background-color: #e9e9e9;
}


footer {
  background-color: #3b5274;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

footer p {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}

@media screen and (max-width: 750px){
  article {
    margin: 10px 0;
  }
  article.inputs {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  form {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  label.inputs-maiores{
    display: inline-block;
    width: 75px;
    margin: 0;
  }
}