* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: #3b5274;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

header h1 {
  font-size: clamp(1.6rem, 4vw, 2.5rem);
}

.preview {
  width: 100%;
  max-width: 1080px;
  display: flex;
  justify-content: center;
  background-color: red;
  gap: 1.5%;
  margin: 1% auto;
}

div.item-preview{
  background-color: #fff;
  padding: 2% 4%;
}

main {
  background-color: #e9e9e9;
}


footer {
  background-color: #3b5274;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

footer p {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}